* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    text-align:center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
#title {
    position:absolute;
    top:5%;
}
#drop {
    position: absolute;
    right: 15%;
    top: 2%;
    font-size: 1.3em;
}
#more {
    position: absolute;
    right: 0;
    width: 10%;
    height: 10%;
}
#map {
    position:absolute;
    bottom:4%;
    width:100%;
    height:84%;
}
#settings {
    position:absolute;
    top:15%;
}
.setinline {
    width:50px;
}
h2 {
    margin-bottom: 0px;
}
#conrols {
    margin-left: 3%;
}
select {
    font-size: 1.5em;
}
footer {
    position: absolute;
    bottom: 4px;
}
